extends ../layouts/layout.pug

block content
  <script src="https://cdn.jsdelivr.net/npm/d3-array@3"></script>
  <script src="https://cdn.jsdelivr.net/npm/d3-color@3"></script>
  <script src="https://cdn.jsdelivr.net/npm/d3-format@3"></script>
  <script src="https://cdn.jsdelivr.net/npm/d3-interpolate@3"></script>
  <script src="https://cdn.jsdelivr.net/npm/d3-time@3"></script>
  <script src="https://cdn.jsdelivr.net/npm/d3-time-format@4"></script>
  <script src="https://cdn.jsdelivr.net/npm/d3-scale@4"></script>
  <script src="https://cdn.jsdelivr.net/npm/d3-selection@3"></script>
  <script src="https://cdn.jsdelivr.net/npm/d3-axis@3"></script>

  <script src="/js/timechart.min.js"></script>

  <ul class="nav nav-tabs">
  <li class="nav-item">
  <a class="nav-link active" aria-current="page" href="#">#{asset} Premium</a>
  </li>
  <li class="nav-item">
  <a class="nav-link" href="/asset/#{asset}/price">#{asset} Price</a>
  </li>
  </ul>
  div#chartPremium(style={
      "width": "100%",
      "height": "640px",
      "max-height": "90vh"
      })

  script(type='text/javascript').
    main();

    function main() {
        const el = document.getElementById('chartPremium');
        const dataSin = [];
        const dataCos = [];
        const chart = new TimeChart(el, {
            // debugWebGL: true,
            // forceWebGL1: true,
            baseTime: !{baseTime},
            series: [{
                    name: `#{asset}`,
                    data: !{dataColumn1},
                    lineWidth: 2,
                    color: 'red'
                    },
                    {
                        name: 'Mean',
                        data: !{dataColumn2},
                        lineWidth: 2,
                        color: 'blue',
                    },
                    {
                        name: '1 SD from mean',
                        data: !{dataColumnsExtremum1},
                        lineWidth: 5,
                        visible: false,
                        color: 'yellowgreen',
                    },
                    {
                        name: '2 SD from mean',
                        data: !{dataColumnsExtremum2},
                        lineWidth: 5,
                        visible: false,
                        color: 'orange',
                    },
                    {
                        name: '3 SD from mean',
                        data: !{dataColumnsExtremum3},
                        lineWidth: 5,
                        visible: false,
                        color: 'gold',
                    },
                    ],
            xRange: "auto",
            // realTime: true,
            zoom: {
                x: {
                    autoRange: true,
                    minDomainExtent: 50,
                },
                y: {
                    autoRange: true,
                    minDomainExtent: 1,
                }
            },
            tooltip: true,
            tooltipXLabel: "Time, ms"
        });
        let x = !{baseTime};
    }
