extends ../layouts/layout.pug

block content
  if (price)
    .medium-12
      .grid-x
        .cell.medium-4
          .grid-x
            .cell.medium-9
              h3(style='padding-left:10px; margin-bottom:20px') #{msg}
            .cell.medium-3
              a.button.info.expanded(type='button' href='/prices/csv/#{price.id}') Export
        .cell.medium-8
          h3.medium-offset-3 Edit price Info
    .grid-x
      .cell.medium-4.large-4(style='padding-left: 10px')
        .card
          .card-divider
            h3 #{price.mAsset}
          .card-divider
            h4  Details
          .card-section
            p Mirror price UST: #{price.priceUST}
            p Real (Oracle) price UST: #{price.oraclePriceUST}
          .card-section
            p
              strong  Price Timestamp
            p  #{price.created_at}
  else
.medium-12
  .grid-x
    .cell.medium-6
      .grid-x
        .cell.medium-12
          h3(style='padding-left:10px; margin-bottom:20px') #{msg}
    .cell.medium-12
      p(style='padding-left:10px; margin-bottom:20px; margin-top:40px')
        | Wrong ID
