extends ../layouts/layout.pug
block content
  .container-fluid
    div
      h3 #{msg}
      p
        a.btn.btn-primary(href='/prices/csv' type='button' role='button') Export All Prices
    #assets
      input.search(placeholder='Search asset')
      button.sort.btn.btn-secondary.btn-sm(data-sort='asset') Sort by asset
      table.table
        thead
          tr
            th(scope='col') Asset
            th(scope='col') Terraswap Price, UST
            th(scope='col') Oracle (&quot;Real&quot;) Price, UST
            th(scope='col') Premium
            th(scope='col') Timestamp
        tbody
          tbody.list
              each value in prices
                tr
                  td.asset #{value.mAsset}
                  td #{value.priceUST}
                  td #{value.oraclePriceUST}
                  td.premium #{value.premium}
                  td #{value.created_at}
